<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rafaros.game">

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name">
    <!--        android:theme="@style/GdxTheme"-->

    <!--        android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
    android:name="com.rafaros.game.AndroidLauncher"-->
        <activity
            android:name=".MasterMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AndroidLauncher" />
                <activity android:name=".SurfaceviewExample"/>
                <activity android:name=".Layout3DActivity"/>
                <activity android:name=".Layout4DActivity"/>

    </application>

</manifest>